<h1>New thread</h1>

<%= simple_form_for(@thread, remote: true) do |f| %>
    <%= f.error_notification %>

    <%= field_set_tag do %>
        <%= f.input :subject %>
        <%= f.simple_fields_for :messages, [@thread.messages.build] do |mf| %>
            <%= render :partial => "discussion/messages/form", locals: {f: mf} %>
        <% end %>
    <% end %>

    <div class="form-actions">
      <%= link_to "Cancel", threads_path %>  <%= f.submit %>
    </div>
<% end %>