<h1>Listing threads</h1>
Ttotal unread thread for <%= current_user.email %> is ::
<span><%= Discussion::Thread.total_unread_by(current_user) %></span>
<%= search_form_for @search, url: path_to_threads, remote: Discussion.ajaxify do |f| %>
    <%= hidden_field_tag :sent_item, params[:sent_item] %>
    <div class="field">
      <%= f.text_field :subject_cont, placeholder: 'Subject' %>
    </div>
    <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<%= link_to_threads link_text: 'All messages' %> |
<%= link_to_threads link_text: 'Sent Item', sent_item: true %>

<table class="table ">
  <tr>
    <th>Subject</th>
    <th>Initiator</th>
    <th><%= sort_link(@search, :created_at, "Initiated on", {}, {remote: Discussion.ajaxify}) %></th>
    <th><%= sort_link(@search, :last_posted_at, "Last post at", {}, {remote: Discussion.ajaxify}) %></th>
    <th><%= sort_link(@search, :total_messages_post, "Total messages post", {}, {remote: Discussion.ajaxify}) %></th>
    <th></th>
  </tr>

  <% @threads.each do |thread| %>
      <tr class="thread <%= thread.read_by?(current_user) ? 'read' : 'unread' %>">
        <td>
          <!--<span class="counter">(<%#= thread.number_of_unread_messages_by(current_user) %>)</span>-->
          <%= link_to_thread thread, link_text: thread.subject.truncate(80, :omission => "... (continued)") %>
        </td>
        <td><%= thread.initiator.try(:email) %></td>
        <td><%= thread.created_at %></td>
        <td><%= thread.last_posted_at %></td>
        <td><%= thread.total_messages_post %></td>
        <td><%= link_to_destroy_thread(thread) %></td>
      </tr>
  <% end %>
</table>

<%= paginate @threads, remote: Discussion.ajaxify %>
<br/>

<%= link_to_new_thread %>