<div class="row-fluid">
  <div class="span12">
    <%= search_form_for @search, url: discussion.threads_path(params), remote: Discussion.ajaxify do |f| %>
        <div class="input-prepend">
          <a class="add-on" href="#">
            <i class="icon-search"></i>
          </a>
          <%= f.text_field :subject_cont, placeholder: 'Search' %>
        </div>
    <% end %>
  </div>
</div>


<div class="box">

  <div class="box-header">
    <ul class="nav nav-tabs nav-tabs-left">
      <li class="active"><a href="#all-threads" data-toggle="tab"><i class="icon-envelope-alt"></i> All comments</a>
      </li>
      <!--<li><a href="#comments" data-toggle="tab"><i class="icon-comments-alt"></i> <span>Comments</span></a></li>-->
    </ul>
    <ul class="box-toolbar">
      <li><%= link_to_new_thread link_text: 'Compose New'.html_safe, class: 'btn btn-blue' %></li>
    </ul>
  </div>

  <div class="box-content thread">
    <div class="tab-content">
      <div class="tab-pane active" id="all-threads">
        <% @threads.each do |thread| %>
            <div class="box-section news with-icons <%= thread.read_by?(current_user) ? 'read' : 'unread' %>" style="min-height: 40px;">
              <div class="news-time" style="margin-top: -10px;">
                <span>distance_of_time_in_words_to_now comment.created_at</span>
              </div>
              <div class="news-content">
                <div class="news-title">
                  <%= thread.initiator.email %>
                </div>
                <div class="news-text">
                  <%= link_to_thread(thread, link_text: thread.subject.truncate(120)) %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= paginate @threads, remote: Discussion.ajaxify, container_dom_id: 'discussion_block' %>