<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @thread.subject %>
</p>

<p>
  <b>Initiator:</b>
  <%= @thread.initiator.try(:email) %>
</p>

<%= render :partial => "discussion/comments/view", collection: @thread.comments, as: 'comment' %>

<%= simple_form_for([@thread, @thread.comments.build], remote: Discussion.ajaxify) do |f| %>
    <%= f.error_notification %>
    <%= render :partial => "discussion/comments/form", locals: {f: f} %>

    <div class="form-actions">
      <%= link_to_threads link_text: "Cancel" %> | <%= f.submit %>
    </div>
<% end %>