<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @thread.subject %>
</p>

<p>
  <b>Initiator:</b>
  <%= @thread.initiator.try(:name) %>
</p>

<%= render :partial => "discussion/messages/view", collection: @thread.messages, as: 'message' %>

<%= simple_form_for(@thread) do |f| %>
    <%= f.error_notification %>

    <%= field_set_tag do %>
        <%= f.simple_fields_for :messages, [@thread.messages.build] do |mf| %>
            <%= render :partial => "discussion/messages/form", locals: {f: mf} %>
        <% end %>
    <% end %>

    <div class="form-actions">
      <%= link_to "Cancel", :back %>  <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Back', threads_path %>