<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @assignment.title %>
</p>

<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>

<p>
  <b>Text:</b>
  <%= @assignment.text %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>

<script type='text/javascript'>
    $('body').on('loading_comments', '.comments_container', function (e) {
        console.log('loading_comments');
    });
    $('body').on('loaded_comments', '.comments_container', function (e) {
        console.log('loaded_comments');
    });
</script>

<%= load_comments_for(@assignment, remote: true) %>